body {
  background: blanchedalmond;
}
.container{
  flex-direction: column;
  flex-wrap: nowrap;
}
@media(min-width:600px){
  .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.container>.a{
  width: 100%;
}
.container>b, .container>.c{
  width: 100%;
}
.container>div{
  margin:10px;
  min-height: 200px;
  border: red solid 1px;
}
.container>b{
  position: relative;
  width: 60%;
}
.container>.c{
  position: relative;
  width:36%;
}
